body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.game {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.game-board {
  display: grid;
  grid-template-columns: repeat(var(--board-size), 100px);
  grid-gap: 0px;

  padding: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.square {
  background: #fff;
  border: 1px solid #000000;
  font-size: 24px;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  outline: none;
  margin: 0;
  padding: 0;
}

.square:focus {
  outline: 2px solid transparent;
}

.square:hover {
  background: #f8f7f8;
}

.game-info {
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.start-again-button {
  padding: 8px 16px;
  background-color: #fffdff;
  font-size: 20px;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
}

.start-again-button:hover {
  background-color: #c9c9c9;
}
